{% extends "base.html" %}

{% block title %}Forum{% endblock title %}

{%block content %}

    <h1>Webify Forum</h1>
    <div class="auth-section">
        {% if current_user %}
            <a href="/">Home</a> |
            Logged in as: <string>{{ current_user }}</strong> |
            <a href="{{ base_path }}/logout">Logout</a> |
            <a href="{{ base_path }}/new">New Post</a>
        {% else %}
            <a href="/">Home</a> |
            <a href="{{ base_path }}/login">Login</a> |
            <a href="{{ base_path }}/register">Register</a>
        {% endif %}
    </div>
    <hr>
    <div class="posts-container">
        {% for post in posts %}
            <div class="post">
                <h3>{{ post.title }}</h3>
                <p>By {{ post.author }} on {{ post.created_at | date(format="%Y-%m-%d %H:%M") }}</p>
                <div class="post-content">{{ post.content }}</div>
            </div>
            <hr>
        {% else %}
            <p>No posts yet.</p>
        {% endfor %}
    </div>
{% endblock content %}
