<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Audio Player</title>
    <link rel="stylesheet" type="text/css" href="https://thomasf.github.io/solarized-css/solarized-dark.min.css">
    <style>
    img, video {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    </style>
</head>
<body>
    <h1>Home Page</h1>
    <a href="/">home</a>
    <h1>Audio Player</h1>
    <audio id="audioPlayer" controls autoplay></audio>
    <script>
        let trackIndex = 0;
        const audioPlayer = document.getElementById('audioPlayer');
        function playTrack(trackIndex) {
            if (trackIndex < playlist.length) {
                audioPlayer.src = playlist[trackIndex];
                audioPlayer.play();
            } else {
                console.log('End of playlist');
            }
        }
        audioPlayer.addEventListener('ended', function() {
            trackIndex++;
            if (trackIndex < playlist.length) {
                playTrack(trackIndex);
            } else {
                trackIndex = 0;
                playTrack(trackIndex);
            }
        });
        playTrack(trackIndex);
    </script>
</body>
</html>
