<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>guacamole</title>
    <link rel="stylesheet" type="text/css" href="https://thomasf.github.io/solarized-css/solarized-dark.min.css"></link>
    <style>
    img, video {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Home Page</h1>
    <a href="/">home</a>
    <div class="container">
        <h1>Welcome to the uploads page</h1>
        <p>This page shows the uploaded files.</p>
        </div>
    <h1>Upload More Files</h1>
    <a href="/upload">Upload File</a>
</body>
</html>
